<div class="wiivv-footer">

	<div>
		30-day money-back guarantee
	</div>

	<button onclick="stub();">SHOP NOW</button>

</div>

<script>
	function stub() {
		// 
// 		window.location.href = "/collections/insoles/products/full-length-bayer";
	}
</script>