<div class="custom-content-wrapper--top-margin custom-content-wrapper--bottom-margin pdp-guarantee mobile-wrapper">
  <h5>{{ section.settings.heading_text }}</h5>
</div>

{% schema %}
  {
    "name": "PDP Guarantee",
    "settings": [
	{
      "type": "text",
      "id": "heading_text",
      "label": "Heading",
      "default": "30-day money-back guarantee"
    }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
